body{
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: 0% 5%;
}
h1{
    text-align: center;
}
#product_info{
    width: 55%;
    border: 2px solid lightgray;
    position: relative;
    margin: 0% auto;
    padding: 2% 4%;
}
.product_details{
    margin: 2% 0%;
}
.input_name{
    width: 45%;
    text-align: justify;
}
.inputs{
    width: 51%;
    float: right;
}
#choose_file{
    position: absolute;
    left: 41%; 
}
#add_product{
    width: 24%;
    margin: 3% 38% 0%;
    height: 2.5em;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 0.35em;
}
#product_catalogue_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5% 5% 0%;
}
.product_catalogue{
    border: 1px solid black;
    width: 31%;
    margin: 1%;
    padding: 1% 0 1% 0;
}
#details{
    display: flex;
    flex-direction: column;
}
#detail_from_localStorage{
    width: 50%;
    float: right;
    margin-right: 1%;
    margin-bottom: 1%;
}
span{
    font-weight: bold;
    font-size: large;
}
.detailSpan{
    margin-left: 1%;
    float: left;
    font-weight: bold;
    font-size: medium;
}
#update_btn,#delete_btn{
    width: 49%;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 2% 0%;
}
#update_btn{
    margin: 0 0.25% 0 0.5%;
    background-color: #007BFF;
}
#delete_btn{
    margin: 0 0.75% 0 0.25%;
    background-color: red;
}
